.mainRight {
  width: 293px;
  height: 500px;
  border: 1px solid black;
  position: fixed;
  margin-left: 650px;

  .userProfile {
    margin-top: 24px;
    
    img {
      width: 64px;
      height: 64px;
      border: 1px solid lightgray;
      border-radius: 50%;
    }
  }
}