.linksAbout {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin-bottom: 16px;
    li {
      margin-right: 10px;
      
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 11px;
        color: #C7C7C7;
        text-decoration: none;
      }
    }
}